/* body -> .wrapper -> .head */
/*         .wrapper -> .game -> .player, .computer */
body{
    background: linear-gradient(to right, rgb(3, 3, 31), rgb(34, 1, 34));
    color: white
}
.wrapper{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
.head{
    border: 2px solid;
    min-width: 80vw;
    
}
.head > * {
    margin-inline: auto;
    display: flex;
    justify-content: center;
    
    
}
.human-computer{
    
    display: flex;
    justify-content: space-between;
   }
.game{
    display: flex;
    justify-content: space-between;
    min-width: 60vw;
    margin-top: 4rem;
    
}
.weapon{
    background-color:blueviolet;
    text-align: center;
    margin-block: 1rem;
    border-radius: 1rem;
}
.human-computer button{
    width: 3rem;
    height: 1.5rem;
    background-color: none;
    border: none;
}
.round-winner{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.round-winner button{
    width: 7rem;
    height: 1.5rem;
    background-color: none;
    border: none;
    
}
#human-score, #computer-score{
    margin-top: 1rem
}
#winner-loser{
    min-height: 4rem;
}
#submit{
    margin-top: 1rem
}

/* #computer-score{
    background-color: blue;
} */